/*===========================================
Geral
=============================================*/
html{
     text-decoration: none;
     background: #2C3E50;
     color: #ffffff;
    font-family:"IBM Plex Sans Thai", "Atkinson Hyperlegible", sans-serif;
}
/*===========================================
============================================
INICIO
===============================================
===============================================
*/
/*============================================
Header
==============================================*/
header{
    background: #ffffff;
    margin: 40px 4vw ;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul li a:hover{
    background-color: #540B24;
    color: #ffffff;
    transition: .2s;
}
header ul li a {
    color: #000;
    font-size: 20px;
    padding: 20px  40px;
    text-decoration: none;
    display: block;
}
.drop-menu{
    position: relative;
}
.drop-menu .drop {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: .4s;
}
.drop-menu .drop a {
    padding: 20px;
}
.drop-menu:hover .drop{
   height: 255px;
}
.menu-mobile-icon{
    display: none;
}
.mobile-menu{
    display: none;
}

/*==============================================
Banner
================================================*/
section.banner{ 
    border-bottom: 1px solid rgb(202, 202, 202);
    display: flex;
}
section.banner img{
     width: 55% ;
}
section.banner div.texto{
    display: block;
    text-align: center;
}
section.banner h1{
  font-family: "Noto Serif Display", serif;
  font-weight:bold;
  font-size: 4rem;
  margin: 0 0 4vw 0;
}
section.banner span {
    font-style: italic;
}
section.banner p {
    font-family: "Noto Serif Display", serif;
    font-size: 2rem;
    margin: 2vw 0vw 4vw 0vw;
}
section.banner p a{
    text-decoration: none;;
    background: #A31D1D;
    color: #ffffff;
    border-color: #000;
    font-size: 2rem;
    padding: 20px;
    border-radius: 10vw;
}
/*========================================
Introdução
==========================================*/
section.introducao {
    margin: 5vw 0vw 3vw 0vw ;
    display: flex;
}
section.introducao h2{
    font-size: xx-large;
    color: #D1D1D1;
  text-shadow:  2px 2px 0 #000,
    1px 1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
section.introducao img{
    width: 100%;
}
/*========================================
MAPA DO SITE
==========================================*/
section.mapa{
    margin: 2vw 0vw 2vw 0vw;
    justify-content: center;
    border-bottom: 1px solid rgb(202, 202, 202);
}

section.mapa h1{
    text-align: center;
    font-size: 3rem;
    color: #D1D1D1;
    text-shadow:  2px 2px 0 #540B24,
    1px 1px 0 #540B24,
    1px 1px 0 #540B24,
    1px 1px 0 #540B24;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-style: italic;
}
.mapa div.blocos {
    display: flex;
}
section.mapa div.blocos ul {
    display: block;
    margin: 3vw;
    background: #7E1537;
    font-family: "IBM Plex Sans Thai", sans-serif;
   font-style: normal;
}
section.mapa ul a {
    display: block;
    margin: 20px 10px 20px 10px;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
}
section.mapa div h3{
    font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: x-large;
}

section.mapa div.bloco2 ul {
    margin:3vw;
    font-size: 2rem;
    padding: 20px;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #540B24;
    text-align: center;
    line-height:4rem;
}
/*==========================================
noticias
=============================================*/
.noticias{
    font-family: "Atkinson Hyperlegible", sans-serif;
    text-align: center;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.noticias h1{
    font-size: 3rem;
    font-style: italic;
    background: #1B1B1B;
    margin: 20px 20vw;
}
.noticias ul {
    display: flex;
}
.noticias ul li {
    display: flex;
}
.noticias h4 {
     font-size: 1.7rem;
     font-weight: bold;
}
.noticias p {
   font-size: 1rem;
}
.noticias ul li img {
    margin: 20px;
    width: 40%;
}
/*======================================================
formulario 
=======================================================*/
.formulario {
    margin: 20px;
}
.formulario h1{
      font-family: "Abril Fatface", serif;
      font-size: 4rem;
}
.formulario p {
    margin: 20px 40px;
    font-size: 1.5rem;
}
/*=========================================================
Footer
===========================================================*/
footer{
    font-family: "Atkinson Hyperlegible", sans-serif;
    background: #1D1D1D;
    padding: 2vw;
}   
footer p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: bold;
}
footer nav p a{
    display: flex;
    justify-content: right;
    padding: 10px 0px;
    font-size: 2rem ;
    text-decoration: none;
}
footer div.creditos p{
    text-align: center;
    font-size: small;
}
@media  screen and (max-width: 900px) {
   .nav-bar{
    padding: 1.5rem 4rem;
   }
   .nav-item{
    display: none;
   }
   .menu-mobile-icon{
    display: block;
   }
   .menu-mobile-icon button{
    background-color: transparent;
    border: none;
    cursor: pointer;
   }
   .mobile-menu ul{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
   }
   .mobile-menu .nav-item{
    display: block;
    padding-top: 1.2rem;
   }
   .open{
    display: block;
   }
   section.banner{
    display: block;
   }
   section.banner img {
    width: 100%;
   }
   .mapa div.blocos{
   display: block;
   }
   .noticias ul {
    display: block;
   }
}

/*=================================================================
=====================================================================
MALEFICIOS
=====================================================================
===================================================================*/
.maleficios {
    background: #540B24;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.inicioMal h1 {
     font-family: "Abril Fatface", serif;
     font-size: 4rem;
     padding: 0 0 2vw 3vw;
}
.inicioMal div{
    display: flex; 
}
.inicioMal div p {
    margin: 40px;
    font-size: 3rem;
    font-family: "IBM Plex Sans Thai", sans-serif;
}
.inicioMal img{
    width: 80%;
}
.pesquisaMal {
    border-bottom: 1px solid rgb(202, 202, 202);
}
.pesquisaMal p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 4vw 0 4vw 0;
}
.pesquisaMal p.creditos {
    font-size: 0.7rem;
    padding: 0;
}
.pesquisaMal div.div-pesquisa {
    display: flex;
}
.pesquisaMal img{
    width: 50%;
}
.pesquisaMal div ul{
    background: #1D1D1D;
    margin: 5vw;
    padding: 50px 6vw;
    border-radius: 200px;
}
.pesquisaMal ul li{
    line-height: 2rem;
    text-align: center;
    font-size: 1.5rem;
   list-style: disc;
}
.pesquisa-2Mal {
    border-bottom: 1px solid rgb(202, 202, 202);
    display: flex;
    max-width: 1600px;
    margin: 0 auto;
    justify-content: space-around;
    
}
.pesquisa-2Mal div{
    width: 30%;
}
.pesquisa-2Mal div.texto1 {
    padding: 0 40px;
}
.pesquisa-2Mal img{
    width: 100%;
}
.pesquisa-2Mal p {
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.pesquisa-3Mal{
     border-bottom: 1px solid rgb(202, 202, 202);
     margin: 40px;
}
.pesquisa-3Mal p {
    font-size: 1.5rem;
    line-height: 1.8rem;
}
.pesquisa-3Mal div {
    margin: 20px;
    display: flex;
    justify-content:space-between ;
}
.pesquisa-3Mal div img{
    justify-content: space-around;
    width: 522px;
    height: 522px
    ;
}
.pesquisa-3Mal div p {
    justify-content: space-around;
   padding: 50px;
   margin: 80px;
}
.finalMale div{
    display: flex;
    justify-content: space-between;
}
.finalMale div p {
    margin: 0 auto;
    max-width: 900px;
    font-size: 1.5rem;
}
  .finalMale div iframe{
    width:600px;
     height:300px;
  }
.referenciasMale h1{
    font-size: 2rem;
}
.referenciasMale a{
    margin: 2vw;
    text-align: left;
    font-weight: bolder;
    color: #ffffff;
    text-decoration: none;
    line-height: 2rem;
}
@media  screen and (max-width: 900px){
  .inicioMal img {
    width: 40%;
    height: 390px;
  }
  .pesquisaMal img {
    width: 100%;
  }
  .pesquisaMal div.div-pesquisa {
    display: block;
  }
  .pesquisa-2Mal{
    display: block;
    max-width: none;
    justify-content: none;
    margin: none;
  }
  .pesquisa-2Mal div {
    width: 100%;
  }
  .pesquisa-3Mal{
    margin: 20px;
  }
  .pesquisa-3Mal div {
    display: block;
    justify-content: none;
  }
  .pesquisa-3Mal div img{
    width: 100%;
  }
  .pesquisa-3Mal div p{
    justify-content: none;
    padding: 10px;
    width: 100%;
    margin: 10px;
  }
  .finalMale div {
    display: block;
  }
  .finalMale div iframe{
    width: 400px;
    height: 300px;
  }
  .referenciasMale{
    margin: 40px 0;
  }
}
/*====================================================
======================================================
DADOS
======================================================
======================================================*/
.bannerDados{
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 0 4vw 4vw 4vw;
}
.bannerDados h1{
    font-family: "Abril Fatface", serif;
    font-size: 4rem;
    line-height: 5rem;
    display: block;
    flex: 1;
    margin-top: 0;
    padding-top: 0;
    padding: 0 2vw 0 3vw;
    text-align: center;
   
}
.bannerDados div{
    flex: 1;
    text-align: justify;
    display: flex;
    justify-content: space-between;
    padding: 5vw 0 0 0;
}
.bannerDados p {
     font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: 400;
    font-style: normal;
    padding: 0 3vw 0 0;
}
.bannerDados div img {
    width: 50%;
}
.estudantes {
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 4vw 4vw 4vw 4vw;
}
.estudantes span {
    font-weight: bold;
}
.estudantes h2 {
    font-family: "Jacques Francois", serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.estudantes p {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.3rem;
    padding: 1vw 0 0 0;
    line-height: 30px;
}
.estudantes div {
    display: flex;
    justify-content: space-between;
    padding: 2vw 0 0 0;
}
.estudantes div ul {
    padding: 0 0 0 5vw;
    list-style-type: disc;
    font-size: 1.3rem;
}
.estudantes div ul li {
    line-height: 2vw;
}
.estudantes div ul p {
    padding: 0 0 1vw 0;
}
.estudantes div img {
    width: 40%;
}
.equipamento {
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 4vw 4vw 4vw 4vw;
}
.equipamento h2 {
    font-family: "Jacques Francois", serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.equipamento div {
    display: flex;
    justify-content: space-between;
}
.equipamento div p {
    line-height: 30px;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    padding: 2vw 0 0 0;
    max-width: 700px;
}
.equipamento img {
    margin: 0 auto;
}
.equipamento div ul {
    padding: 0 0 0 5vw;
    list-style-type: disc;
    font-size: 1.3rem;
}
.idade {
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 4vw 4vw 4vw 4vw;
}
.idade h2 {
    font-family: "Jacques Francois", serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.idade p {
    line-height: 30px;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
    padding: 2vw 0 0 0;
}
.idade div {
    display: flex;
    justify-content: space-between;
    max-width: 75vw;
}
.idade div img {
    padding: 0 0 0 3vw;
}
.conclusao {
    padding: 4vw 4vw 4vw 4vw;
    border-bottom: 1px solid rgb(202, 202, 202);
}
.conclusao h2 {
    font-family: "Jacques Francois", serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}
.conclusao p {
    line-height: 30px;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.3rem;
}
.conclusao div {
    justify-content: space-between;
    display: flex;
    padding: 2vw 0 0 0;
}
.conclusao img {
    padding: 0 4vw 0 0;
}
.referencias {
    padding: 4vw 4vw 4vw 4vw;
}
.referencias h3 {
    font-size: 2rem;
    font-weight: bold;
    padding: 0 0 2vw 0;
}
.referencias ul li a {
    color: white;
    font-size: 1.2rem;
}
@media  screen and (max-width: 900px) {
.bannerDados div img{
    padding: 8vw 0 8vw 12vw;
    width: 70%;
}
.bannerDados div {
    display: block;

}
}
/*===================================================================
=====================================================================
DESC0NECTA
=====================================================================
===================================================================*/
.desconecta {
    background: #540B24;
    padding: 0 4vw 0 4vw;
}
.bannerDesconecta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerDesconecta h1{
    font-size: 4rem;
    font-family: "Abril Fatface", serif;  
}
.bannerDesconecta div.texto{
    display: block;
}
.bannerDesconecta p {
    font-size: 2rem;
    max-width: 700px;
}
.abandonar div{
    display: flex;
    margin: 3vw 0;
}
.abandonar div.texto{
    display: block;
    font-size: 1.5rem;
    line-height: 3rem;
}
.abandonar h2{
    margin: 3vw 0;
    font-weight: bold;
}
.abandonar img{
    width: 100%;
    margin: 0 4vw;
}
.passos ul li h3 {
    font-weight: bold;
}
.passos ul li {
    line-height: 3rem;
   list-style-type: disc;
   font-size: 1.5rem;
}
.passos div {
    display: flex;
    justify-content: space-between;
}
.passos div.linksDesc{
    display: block;
}
.passos div.linksDesc li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}
.passos div li {
    max-width: 900px;
}
.passos div li h3 {
    margin: 2vw 0;
    font-size: 2rem;
}
.passos div.praia{
    margin: 4vw 0;
}
    .passos div.praia li{
        margin: 6vw 0;
    }
.passos div.praia img {
    width: 150%;
}
.passos div.praia  span{
    font-weight: bolder;
}
.passos div.grande h3 {
    font-size: 1.5rem;
}
.FinalDesc {
    font-size: 1.5rem;
    padding: 0 0 4vw 0;
}
.FinalDesc ul div{
    display: flex;
}
.FinalDesc ul h3{
    margin: 2vw 0;
    font-weight: bold;
}
.FinalDesc li {
    line-height: 3rem;
    list-style-type: disc;
}
.FinalDesc ul div img{
    width: 180%;
}
@media screen and (max-width: 900px) {
.bannerDesconecta div img {
   width: 40%;
    }
    .abandonar div img {
        width: 40%;
        height: 300px;
    }
    .passos div {
        display: block;
    }
    .passos div.praia{
        display: flex;
        flex-direction: row-reverse;
    }
    .passos div.praia img {
        width: 100%;
    }
    .FinalDesc ul div img{
    width: 40%;
    height: 300px;
    float: right;
    }
    .FinalDesc ul div.imagem-direita{
    display: flex;
    flex-direction: row-reverse;
    }
    .FinalDesc ul div li {
    max-width: none;
    }
}
/*===================================================================
=====================================================================
APLICATIVOS
=====================================================================
===================================================================*/
.aplicativosHtml{
    background: #540B24;
}
.bannerAplicativo {
    display: flex;
    justify-content: space-between;
    padding: 4vw 4vw 0 4vw;   
}
.bannerAplicativo h1 {
    font-size: 3.5rem;
    font-family: "Abril Fatface", serif;
    line-height: 5rem;
}
.bannerAplicativo p {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.3rem;
    line-height: 30px;
    font-weight: 400;
    padding: 1vw 0 0 0;
    max-width: 800px;
}
.bannerAplicativo img {
    width: 20%;
}
.aplicativos {
    padding: 4vw 4vw 4vw 4vw;
}
.aplicativos ul li{
    list-style-type: disc;
    font-size: 1.5rem;
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-weight: bold;
}
.aplicativos p {
    font-size: 1.3rem;
    font-family: "IBM Plex Sans Thai", sans-serif;
    line-height: 30px;
    padding: 0.5vw 0 0 0;
}
.aplicativos div {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
}
.aplicativos ul div a img {
    width: 50%;
    padding: 0 0 4rem 10rem;
}
/*----------------------------------------------
------------------------------------------------
CIENCIA
-------------------------------------------------
-----------------------------------------------*/


.ciencia {
background-color: #1D1D1D;
}

/*banner*/

.bannerCien {
    display: flex;
    justify-content: space-between
}


.bannerCien h1 {
 font-family: "Abril Fatface", serif;
 font-size: 4rem;
 margin: 20px 20px;
}

.bannerCien h2 {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.5rem;
    padding: 2.5vw 20px;
    line-height: 2.5rem;
}

/*intro*/

.introCien div {
    display: flex;
    justify-content: space-between;
}


.introCien p {
font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.5rem;
    padding: 2vw 10px 2vw 10px;
    line-height: 2.5rem;
    
}

.introCien h3 {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 2.5rem;
    padding: 30px 20px 10px 0
    ;
    font-weight: bolder;
}

/*neuro*/

.neurodopamina div.neuros {
    display: flex;
    justify-content: space-between;
}

.neurodopamina p {
    font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.5rem;
    padding: 2vw 10px 2vw 10px;
    line-height: 2.5rem;
}

/*cerebro*/

.cerebroParte p {
    margin: 2vw 0 0 0;
     font-family: "IBM Plex Sans Thai", sans-serif;
    font-size: 1.5rem;
    padding: 1vw 10px 1vw 10px;
    line-height: 2.5rem;
}

.cerebroParte img {
 padding: 0 0 0 70rem;
}

.cerebroParte div.maquinaCassino {
    display: flex;
    justify-content: space-between;
}
.cerebroParte div.maquinaCassino img {
  width: 545px;
  height: 555px;
}

/*----------------------------------------------
------------------------------------------------
PERIGOS
-------------------------------------------------
-----------------------------------------------*/
.perigos {
    background-color: #540B24;
    margin: 1vw 4vw 0px 4vw;
}

section.inicioPerigos {
    align-items: start;
    display: flex;
    margin: 3.5rem 0px 0px 0px;
}

section.inicioPerigos h1 {
    font-size: 4rem;
    text-align: left;
    margin: 5vw;
    font-weight: bold;
}

section.inicio2 {
    text-align: left;
    margin: 2vw;
    font-size: 1.5rem;
}

section.comentariosPerigos {
    font-size: 1.5rem;
}

section.comentariosPerigos h2 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0px 0px 2vw;
}

section.comentariosPerigos ul li span {
    font-weight: bold;
}

/*========================================
NOTICIAS
==========================================*/
.noticiasHtml{
    background: #1D1D1D;
}
.bannerNot h1 {
    font-family:"Abril Fatface", serif ;
    font-size: 3rem;
    text-align: center;
    margin: 2vw;
}
.bannerNot div {
 display: flex;
 justify-content: space-between;
 line-height: 2rem;
}
.bannerNot div p {
    font-size: 1.5rem;
    max-width: 500px;
    text-align: left;
}
.texto1{
     margin: 2vw;
}
.texto1 div{
    display: flex;
    font-size: 1.5rem;
}
.texto1 p {
    font-size: 1.5rem;
}
.texto2 div.bloco {
    display: flex;
}
.texto2 div h2 {
    font-size: 2rem;
}
.texto2 p {
    font-size: 1.5rem;
}
.texto2 p  {
 text-align: center;
}
.ultimosTextos {
        font-size: 1.5rem;
}
.ultimosTextos div {
     margin: 2vw;
    display: flex;
}

/*========================================
SOBRE O PROJETO
==========================================*/
.sobre {
    background-color: #1B1B1B;
    margin:  5vw;
}
.sobreProj {
    margin: 3vw 0;
}
.sobreProj h1 {
   font-size: 5rem;
   font-family: "Abril Fatface", serif;
   padding: 10vw 0 10vw 10vw;
}
.sobreProj div {
    display: flex;
}
.sobreProj div h3{
   font-size: 35px;
   padding: 10vw 0 0 20vw;
   text-align: right;
}
.sobreProj p {
    font-size: 27px;
    padding: 2vw 0 2vw 0 ;
}
.pessoas {
    margin: 2vw 0;
}
.pessoas h4 {
    font-size: 45px;
    font-family: "Abril Fatface", serif;
}
.pessoas p{
    font-size: 35px;
}
.pessoas ul li {
  display: flex;
  padding: 30px 0;
}
.pessoas ul li img {
    width: 200px;
    height: 200px;
}
.pessoas ul li.ester img {
    width: 250px;
    height: 200px;
}
.pessoas ul li div p{
    padding: 20px 0 0 0;
}
.pessoas ul li img {
    padding: 0 50px;
}
.final {
    margin: 2vw 0;
}
.final p {
    font-size: 27px;
    padding: 2vw 0 2vw 0 ;
}
.final div img {
    width: 1118px;
    height: 570px;
    padding: 0 0 0 13vw;
}


